html {
    font-size: 1.82vw;
}


body {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 400;
}



.container {
    max-width: 1170px;
    min-width: 300px;
}

.header {
    font-weight: 300;
    font-size: 3.15rem;
    margin-top: 1.43rem;
    margin-bottom: 0;
}

.sub-header {
    font-size: 1.72rem;
    margin-top: 0.71rem;
    margin-bottom: 0;

}

.logo-icon {
    margin-top: 1.43rem;
}

.line {
    border-top: 2px solid #7d97ad;
    margin-top: 1.43rem;
    margin-bottom: 1.43rem;
}

.feature-header {
    font-size: 2.14rem;
}

.project-header {
    font-size: 2.25rem;
}


.feature-header, .project-header {
    margin-top: 1.43rem;
    margin-bottom: 0.71rem;

}


.text-grey {
    color: #7d97ad;
}

.link {
    color: #2d3c49;
    text-decoration: none;
}

.logo {
    max-width: 5.73rem;
    margin-top: 1.43rem;
    margin-bottom: 0.71rem;
}

@media only screen and (max-width: 480px) {
    .link {
        font-size: 8.736px;
    }

}

@media only screen and (min-width: 768px) {
    
    html { 
        font-size: 14px; 
    }

   .line {
    border-top: 3px solid #7d97ad;
    
    }

/*    .header {
        font-size: 44px;
        margin-top: 20px;
    }

    .sub-header {
        font-size: 24px;
        margin-top: 10px;
    }

    .logo {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        
    }

    .feature-header {
        font-size: 32px;
    }

    .project-header {
        font-size: 32px;
    }

    h2, h3 {
        margin-top: 20px;
        margin-bottom: 10px;

    }*/
}



/*testing */

.raz {
    font-size: 1rem;
}

.dwa-razy {
    font-size: 2rem;
}