
body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 400;
}

.container {
    max-width: 1170px;
}


.title-super {
    font-size: 60px;
}

.line {
    border-top: 3px solid #7d97ad;
}


.text-gray {
    color: #7d97ad;
}

.projects a, a:hover {
    color: #2d3c49;
    text-decoration: none;
}

.projects h3 {
    font-size: 32px;
}

.header {
    font-weight: 300;
    font-size: 5.73vw;
    margin-top: 2.6vw;
    margin-bottom: 0;
}

.sub-header {
    font-size: 3.13vw;
    margin-top: 1.3vw;
    margin-bottom: 0;

}

.logo {
    max-width: 10.42vw;
    margin-top: 2.6vw;
    margin-bottom: 1.3vw;
}

@media only screen and (min-width: 540px) {

}

@media only screen and (min-width: 768px) {
    .projects {
        /*background-color: blue;*/
    }
    .header {
        font-size: 44px;
        margin-top: 20px;
    }
    .sub-header {
        font-size: 24px;
        margin-top: 10px;
    }
    .logo {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        
    }
}